.App {
  margin         : 0;
  padding        : 0;
  min-width      : 1200px;
  min-height     : 100vh;
  display        : flex;
  flex-direction : column;
  justify-content: center;
  align-items    : center;
}

.container {
  display: flex;
}

#game-scene {
  z-index: 10;
}

#game-scene>canvas {
  border-radius: 5px;
}

.name-box {
  margin-left: 20px;
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  overflow-y: auto;
  border: 1px solid blue;
}

.name-box p {
  margin-bottom: 5px;
  font-size  : 12px;
  color      : blue;
  font-weight: 600;
}

.mask {
  z-index         : 1000;
  position        : fixed;
  top             : 0;
  left            : 0;
  display         : flex;
  align-items     : center;
  justify-content : center;
  flex-direction  : column;
  height          : 100%;
  width           : 100%;
  background-color: rgb(238, 238, 238);
}

.form-box {
  display         : flex;
  flex-direction  : column;
  align-items     : center;
  background-color: white;
  padding         : 40px;
  color           : black;
  border-radius   : 24px;
}

.form-box p {
  font-size  : 12px;
  color      : #000;
  font-weight: 600;
  word-break : break-word;
}

.form-box input {
  margin-top    : 10px;
  padding       : 4px 10px;
  font-weight   : 600;
  font-size     : 12px;
  line-height   : 15px;
  letter-spacing: 0.04em;
  text-align    : center;
}

.form-box .button {
  margin-top      : 30px;
  display         : flex;
  justify-content : center;
  align-items     : center;
  cursor          : pointer;
  padding         : 8px 16px;
  border-radius   : 16px;
  text-align      : center;
  background-color: blue;
  font-size       : 14px;
  color           : white;
  font-weight     : 600;
}